.ant-table-thead >tr> th {
    color: #fbffff;
    background: #ffc870;
    font-size: 15px;
    height: 50px;
    padding: 8px 10px;
}

.ant-table-tbody > tr > td {
    height:30px;
    padding: 8px 10px;
}

.ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
    background-color: #ffe3b8 !important;
}

.ant-table-tbody > tr:focus:not(.ant-table-expanded-row) > td {
    background-color: #ffe3b8 !important;
}
