.css-f91fgu{
    background: none !important;
}

li div{
    background: none !important;
}

.css-1l0glfn{
    fill: white !important;
}

.css-1cf7s5m{
    color: white;
}

.css-s4kvnr{
    color: #2e37ff !important;
}

.reflex-splitter{
    background: none !important;
    border-color: rgba(255, 255, 255, 0) !important;
    border: none !important;
}
